<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile-style.css">
    <title>Профиль</title>
</head>
<body>
    <div class="content">
        <a class="return">
            <img src="img/logout.svg" alt="image">
            <span>Назад</span>
        </a>

        <div class="main-info">
            <img src="img/user.svg" alt="image">
            <span class="name">Никита Милиньков</span>
            <span class="group">Группа: П-31</span>
            <a href="#"><button class="edit-btn">Редактировать профиль</button></a>
        </div>

        <div class="progress">
            <h1>Прогресс</h1>

            <div class="info">
                <div class="total">
                    <span>Общий прогресс по "Основам Операционных Систем"</span>
                    <div class="progress-bar">
                        <div class="bar">
                            <div class="oper-sys"></div>
                        </div>
                        <span class="percent">49%</span>
                    </div>
                </div>
                
                <div class="other-info">
                    <span>Прочитано лекций: 3 из 20</span>
                    <span>Завершено итоговых тестов: 1 из 6</span>
                </div>           
            </div>
            <div class="info">
                <div class="total">
                    <span>Общий прогресс по "Основам Архитектуры ЭВМ"</span>
                    <div class="progress-bar">
                        <div class="bar">
                            <div class="osn-arch"></div>
                        </div>
                        <span class="percent">49%</span>
                    </div>
                </div>

                <div class="other-info">
                    <span>Прочитано лекций: 3 из 20</span>
                    <span>Завершено итоговых тестов: 1 из 6</span>
                </div>           
            </div>
        </div>

        <div class="progress">
            <h1>Успеваемость</h1>

            <div class="info">
                <div class="total">
                    <span>Итоговая оценка по "Основам Операционных Систем"</span>
                    <div class="result">5</div>
                </div>

                <div class="tests-results">
                    <span>Оценки за итоговые тесты:</span>
                    <div class="test">
                        <span>1. "Название темы"</span>
                        <div class="result">5</div>
                    </div>
                    <div class="test">
                        <span>2. "Название темы"</span>
                        <div class="result good">4</div>
                    </div>
                    <div class="test">
                        <span>3. "Название темы"</span>
                        <div class="result average">3</div>
                    </div>
                    <div class="test">
                        <span>4. "Название темы"</span>
                        <div class="result bad">2</div>
                    </div>
                    <div class="test">
                        <span>5. "Название темы"</span>
                        <div class="result uncomplete">Тест не пройден</div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="total">
                    <span>Итоговая оценка по "Основам Архитектуры ЭВМ"</span>
                    <div class="result">4</div>
                </div>

                <div class="tests-results">
                    <span>Оценки за итоговые тесты:</span>
                    <div class="test">
                        <span>1. "Название темы"</span>
                        <div class="result">5</div>
                    </div>
                    <div class="test">
                        <span>2. "Название темы"</span>
                        <div class="result good">4</div>
                    </div>
                    <div class="test">
                        <span>3. "Название темы"</span>
                        <div class="result average">3</div>
                    </div>
                    <div class="test">
                        <span>4. "Название темы"</span>
                        <div class="result bad">2</div>
                    </div>
                    <div class="test">
                        <span>5. "Название темы"</span>
                        <div class="result uncomplete">Тест не пройден</div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</body>
</html>